.form_row
  = f.label :tees, 'Tees'
  = f.text_field :tees
.form_row
  = f.label :slope
  = f.number_field :slope, :min => 55, :max => 155
.form_row
  = f.label :rating
  = f.number_field :rating, :min => 0.1, :step => 0.1

%table.scorecard
  %thead
    %tr
      %th Hole
      %th Yardage
      %th Par
      %th Handicap
      %th Score
  %tbody
    = f.fields_for :holes do |sh|
      %tr
        %td
          = sh.object.hole
          = sh.hidden_field :hole
        %td= sh.number_field :length
        %td= sh.number_field :par
        %td= sh.number_field :handicap
        %td= sh.number_field :score
