.field.wrapper.txt
  .prompt.required= f.label :tees, 'Tees'
  .element= f.text_field :tees, disabled: disabled
.field.wrapper.control
  .prompt
    = link_to 'New Custom Statistic', '#', id: 'append_custom_statistic'

= f.hidden_field :user_id, value: current_user.id, disabled: disabled

- stat_count = f.object.stat_order.count
= hidden_field_tag 'custom_stat_counter', stat_count, disabled: disabled
- f.object.stat_order.each do |stat|
  = hidden_field_tag 'round[scorecard][stat_order][]', stat, id: "round_scorecard_stat_order_#{stat}"
:css
  #scorecard .hole .entry { width: #{85 / (4 + stat_count)}%; }

%div(style = 'clear:both')
- current_hole = 0
= f.fields_for :holes do |sh|
  .hole{id: "hole#{current_hole}"}
    .label
      .prompt= current_hole + 1
      = sh.hidden_field :hole, disabled: disabled
    .entry.txt
      .element= sh.text_field :length, disabled: disabled, pattern: '[0-9]*', placeholder: 'Yards'
    .entry.txt
      .element= sh.text_field :handicap, disabled: disabled, pattern: '[0-9]*', placeholder: 'Handicap'
    .entry.txt
      .element= sh.text_field :par, disabled: disabled, pattern: '[0-9]*', placeholder: 'Par'
    .entry.txt
      .element= sh.text_field :score, disabled: disabled, pattern: '[0-9]*', placeholder: 'Score'
    - f.object.stat_order.each_key do |key|
      .entry.txt
        .element= text_field_tag "round[scorecard][holes_attributes][#{current_hole}][custom_stats][#{key}]",
          sh.object.custom_stats[key], disabled: disabled, pattern: "[0-9yYtTnNfF]*", placeholder: f.object.stat_order[key.to_i]
  - current_hole += 1
