.form_row
  .half
    .prompt.required.little= f.label :tees, 'Tees'
    .element.txt= f.text_field :tees, disabled: disabled

= f.hidden_field :user_id, value: current_user.id, disabled: disabled

.scorecard
  = hidden_field_tag 'custom_stat_counter', f.object.stat_order.count, disabled: disabled

  .line.holes
    .unit.size2of20 &nbsp;
    - (1..18).each do |hole|
      .unit.size1of20{class: last_column_class(hole)}= hole

  .unit.size2of20
    .line.yardage.label Yardage
    .line.par.label Par
    .line.handicap.label Handicap
    .line.score.label Score
    - f.object.stat_order.each do |stat|
      .line.element.txt.custom= text_field_tag 'round[scorecard][stat_order][]', stat, disabled: disabled

  - current_hole = 0
  = f.fields_for :holes do |sh|
    .unit.size1of20{class: last_column_class(sh.object.hole)}
      = sh.hidden_field :hole, disabled: disabled
      .line.element.txt.yardage= sh.text_field :length, disabled: disabled, pattern: "[0-9]*"
      .line.element.txt.par= sh.text_field :par, disabled: disabled, pattern: "[0-9]*"
      .line.element.txt.handicap= sh.text_field :handicap, disabled: disabled, pattern: "[0-9]*"
      .line.element.txt.score= sh.text_field :score, disabled: disabled, pattern: "[0-9]*"
      - f.object.stat_order.each_key do |key|
        .line.element.txt.custom
          = text_field_tag "round[scorecard][holes_attributes][#{current_hole}][custom_stats][#{key}]",
            sh.object.custom_stats[key], disabled: disabled, pattern: "[0-9yYtTnNfF]*"
    - current_hole += 1

  .line.additional
    .unit.size2of20.label= link_to 'Add line', '#', id: 'append_scorecard_line'
