%table
  %thead
    %tr
      %th &nbsp;
      - (1..18).each do |hole|
        %th= hole
      %th Total
  %tbody
    %tr
      %td Yardage
      - 18.times do |index|
        %td= scorecard.holes[index].try :length
      %td= scorecard.length
    %tr
      %td Par
      - 18.times do |index|
        %td= scorecard.holes[index].try :par
      %td= scorecard.par
    %tr
      %td Score
      - 18.times do |index|
        %td= scorecard.holes[index].try :score
      %td= scorecard.score
    %tr
      %td Handicap
      - 18.times do |index|
        %td= scorecard.holes[index].try :handicap
      %td &nbsp;
