:css
  body { min-width: 800px; }

%div
  .content.wrapper
    %p
      %em Tees:
      = scorecard.tees.humanize
    = content_for :content
  = content_for :sidebar

%div
  .full.wrapper
    .hole.label &nbsp;
    - (1..18).each do |hole|
      .hole= hole
    .hole.total Total

  .full.wrapper
    .hole.label Yardage
    - 18.times do |index|
      .hole= scorecard_value scorecard.holes[index].try(:length)
    .hole.total= scorecard.length

  - if scorecard.holes.map { |h| h.try :handicap }.any?
    .full.wrapper
      .hole.label Handicap
      - 18.times do |index|
        .hole= scorecard_value scorecard.holes[index].try(:handicap)
      .hole.total &nbsp;

  .full.wrapper
    .hole.label Par
    - 18.times do |index|
      .hole= scorecard_value scorecard.holes[index].try(:par)
    .hole.total= scorecard.par

  .full.wrapper
    .hole.label Score
    - 18.times do |index|
      .hole{class: scorecard.holes[index].try(:score_name)}= scorecard_value scorecard.holes[index].try(:score)
    .hole.total= scorecard.score

  - scorecard.stat_order.each_with_key do |label, key|
    .full.wrapper
      .hole.label= label.humanize
      - 18.times do |hole|
        .hole= scorecard_value scorecard.holes[hole].try(:custom_stats).try(:[], key)
      .hole.total= scorecard.totals.try :[], key
