.scorecard
  .line.holes
    .unit.size2of21 &nbsp;
    - (1..18).each do |hole|
      .unit.size1of21= hole
    .unit.size1of21.lastUnit Total

  .line.yardage
    .unit.size2of21.label Yardage
    - 18.times do |index|
      .unit.size1of21= scorecard_value scorecard.holes[index].try(:length)
    .unit.size1of21.lastUnit.total= scorecard.length

  .line.par
    .unit.size2of21.label Par
    - 18.times do |index|
      .unit.size1of21= scorecard_value scorecard.holes[index].try(:par)
    .unit.size1of21.lastUnit.total= scorecard.par

  .line.handicap
    .unit.size2of21.label Handicap
    - 18.times do |index|
      .unit.size1of21= scorecard_value scorecard.holes[index].try(:handicap)

  .line.score
    .unit.size2of21.label Score
    - 18.times do |index|
      .unit.size1of21= scorecard_value scorecard.holes[index].try(:score)
    .unit.size1of21.lastUnit.total= scorecard.score

  - scorecard.stat_order.each_with_index do |label, index|
    .line.custom
      .unit.size2of21.label= label.humanize
      - 18.times do |hole|
        .unit.size1of21= scorecard_value scorecard.holes[hole].try(:custom_stats).try(:[], index.to_s)

%p= "#{scorecard.tees.humanize} tees"
