%h1 Scorecard for #{@round.date} round at #{@round.course_name}

= form_for @scorecard, :url => round_scorecard_path(@round) do |f|
  = error_messages_for @round, @scorecard

  .form_row
    = f.label :tee, 'Tees'
    = f.text_field :tee

  %table.scorecard
    %thead
      %tr
        %th Hole
        %th Yardage
        %th Par
        %th Handicap
        %th Score
    %tbody
      = f.fields_for :holes do |sh|
        %tr
          %td
            = sh.object.hole
            = sh.hidden_field :hole
          %td= sh.number_field :length
          %td= sh.number_field :par
          %td= sh.number_field :handicap
          %td= sh.number_field :score

  .actions= f.submit
