= render partial: 'layouts/tabs', locals: {current: :handicap}

.full.wrapper.tabcontent
  - unless @handicap.nil?
    %p
      %em Course Handicap:
      = @handicap
    %p
      %em Highest Score under Equitable Stroke Control:
      = esc_limit_text @handicap

  %h2 What is the slope of the tees you are playing?
  = form_tag course_handicap_path, method: :get do
    .form_row.txt
      .element= text_field_tag :slope, '', pattern: '[0-9]*', placeholder: 'Slope'
    .form_row.actions= submit_tag 'Calculate'
