.sidebar.wrapper
  %h2 Sign In With
  %ul(data-no-turbolink)
    %li= link_to 'Google', user_omniauth_authorize_path(:google), class: :pop
    %li= link_to 'Twitter', user_omniauth_authorize_path(:twitter), class: :pop
    %li= link_to 'Facebook', user_omniauth_authorize_path(:facebook), class: :pop

.content.wrapper
  = form_tag user_omniauth_authorize_path(:open_id), :method => :get do
    %h2 Or Enter your OpenID Provider
    .form_row.txt
      .element.bg= text_field_tag :openid_url
    .form_row.actions= submit_tag 'Connect'
