%noscript
  .full.wrapper
    %p Enable Javascript to enable entering only a score and saving custom statistics.

%div(style = 'clear: both')

= form_for [@course, @round] do |f|
  .fields
    .field.wrapper.date
      .prompt.required= f.label :date
      .element= f.date_select :date

    .field.wrapper.textarea
      .prompt= f.label :notes
      .element= f.text_area :notes

    .field.wrapper.txt
      .prompt.required= f.label :rating
      .element= f.number_field :rating, min: 0.1, step: 0.1

    .field.wrapper.txt
      .prompt.required= f.label :slope
      .element= f.number_field :slope, min: 55, max: 155

    - if @round.new_record?
      #scorecard-toggles.form_row.full.wrapper
        %ul
          %li#show-scorecard{style: "display: #{@round.scorecard? ? 'none' : 'inline-block'}"}= link_to 'enter full scorecard', '#'
          %li#show-score{style: "display: #{@round.basic? ? 'none' : 'inline-block'}"}= link_to 'enter only your score', '#'
          %li#show-garmin{style: "display: #{@round.import? ? 'none' : 'inline-block'}"}= link_to 'import round from garmin', '#'

    #score.details-section{style: "display: #{@round.basic? ? 'block' : 'none'}"}
      .form_row.full.wrapper.relative.txt
        %span.prompt.required= f.label :score
        %span.element= f.number_field :score, min: 1, disabled: !@round.basic?

    #scorecard.details-section{style: "display: #{@round.scorecard? ? 'block' : 'none'}"}
      = f.fields_for :scorecard, build_scorecard_for(@round) do |sc|
        = render partial: 'scorecards/form', locals: {f: sc, disabled: !@round.scorecard?}

    #import.details-section{style: "display: #{@round.import? ? 'block' : 'none'}"}
      .form_row.full.wrapper.relative.txt
        .prompt.required= f.label :tees
        .element= f.text_field :tees, disabled: !@round.import?
      .form_row.full.wrapper.relative.txt
        .prompt.required= f.label :garmin_file
        .element= f.file_field :garmin_file, disabled: !@round.import?

    .form_row.full.wrapper.actions= f.submit
