%noscript
  .full.wrapper
    %p Enable Javascript to enable entering only a score and saving custom statistics.

%div(style = 'clear: both')

= form_for [@course, @round] do |f|
  .fields
    .field.wrapper.date
      .prompt.required= f.label :date
      .element= f.date_select :date

    .field.wrapper.textarea
      .prompt= f.label :notes
      .element= f.text_area :notes

    .field.wrapper.txt
      .prompt.required= f.label :rating
      .element= f.number_field :rating, min: 0.1, step: 0.1

    .field.wrapper.txt
      .prompt.required= f.label :slope
      .element= f.number_field :slope, min: 55, max: 155

    .form_row.full.wrapper
      :javascript
        document.write("#{escape_javascript link_to((@round.scorecard? ? 'enter only your score' : 'enter full scorecard'), '#', id: 'scorecard_toggle')}");

    #score{style: "display: #{@round.scorecard? ? 'none' : 'block'}"}
      .form_row.full.wrapper.relative.txt
        %span.prompt.required= f.label :score
        %span.element= f.number_field :score, min: 1, disabled: @round.scorecard?

    #scorecard{style: "display: #{@round.scorecard? ? 'block' : 'none'}"}
      = f.fields_for :scorecard, build_scorecard_for(@round) do |sc|
        = render partial: 'scorecards/form', locals: {f: sc, disabled: !@round.scorecard?}

    .form_row.full.wrapper.actions= f.submit
