.mod
  .inner
    .hd
      %h2= "#{@round.date} - #{@round.course_name}"
    .bd
      - if @round.scorecard_id?
        = render @round.scorecard
      - else
        %p
          %em Score:
          = @round.score
      %p
        %em Notes:
        = @round.notes
