.mod
  .inner
    .hd.split
      %h2.left= "#{@round.date} - #{@round.course_name}"
      .right.bottom.mam= link_to 'Edit', edit_round_path(@round) if can?(:edit, @round)
    .bd
      - if @round.scorecard_id?
        = render @round.scorecard
      - else
        %p
          %em Score:
          = @round.score
      %p
        %em Notes:
        = @round.notes
