= error_messages_for @user

.mod.simple
  .inner
    .hd
      %h2 Edit your Profile
    .bd
      = form_for @user do |f|
        .container
          .form_row
            .prompt.little= f.label :name
            .element.txt= f.text_field :name
          .form_row
            .prompt.little= f.label :email
            .element.txt= f.email_field :email
          .form_row
            .prompt.little Gender
            .element.radio= f.radio_button :gender, :male
            .prompt.tiny= f.label :gender, 'Male', :value => :male
            .element.radio= f.radio_button :gender, :female
            .prompt.little= f.label :gender, 'Female', :value => :female
            %p.clearfix.hint Only used for default handicap calculation

          .form_row.actions= f.submit
