- error_messages_for @user

.full.wrapper
  %h1 Edit your Profile
  = form_for @user do |f|
    .form_row.txt
      .prompt= f.label :name
      .element= f.text_field :name
    .form_row.txt
      .prompt= f.label :email
      .element= f.email_field :email
    .form_row.radio
      .prompt Gender
      .group
        %span.element= f.radio_button :gender, :male
        %span.prompt= f.label :gender, 'Male', :value => :male
        %span.element= f.radio_button :gender, :female
        %span.prompt= f.label :gender, 'Female', :value => :female
      %p.hint Only used for default handicap calculation

    .form_row.actions= f.submit
