%div{:class => (feature_active?(:legacy_import, @user) ? 'unit size3of5' : '')}
  .mod
    .inner
      .hd Profile
      .bd
        .container
          - if @user.name?
            %p
              %em Name:
              = @user.name
          - if @user.email?
            %p
              %em Email:
              = @user.email
          %p
            %em OpenId:
            = @user.openid_uid

- feature_active? :legacy_import, @user do
  .unit.size2of5.lastUnit
    .mod
      .inner
        .hd Import Data
        .bd
          %p Use these steps to import data from the old version of GolfStats.
          %ol
            %li
              %p Sign in to #{link_to 'the old site', 'http://www.golf-stats.net'}
            %li
              %p Click the "Download Your Data" link on that page and save the file that is generated
            %li
              %p Upload that file here:
              = form_tag user_import_path(@user), :multipart => true do
                .form_row= file_field_tag :file
                .form_row.actions= submit_tag 'Upload'
