#activity_tab_content.tabcontent{class: (current == :activity ? 'current' : '')}

  .content.wrapper
    - unless current_user[:handicap].nil?
      %h2 Handicap Index: #{current_user.handicap}

    %h2 My Rounds
    %ul
      - current_user.rounds.each do |r|
        - cache action_suffix: "round_#{r.id}" do
          %li= render r

  .sidebar.wrapper
    %h2 Courses Played
    %ul
      - current_user.courses.each do |c|
        - cache action_suffix: "course_#{c.id}" do
          %li= render c
