= render partial: 'layouts/tabs', locals: {current: :activity}

.tabcontent
  .content.wrapper
    - unless current_user[:handicap].nil?
      %h2 Handicap Index: #{current_user.handicap}

    %h2 My Handicap #{link_to 'Rounds', rounds_path}
    %ul
      - @rounds.each do |r|
        %li= render r

  .sidebar.wrapper
    %h2 #{link_to 'Courses', courses_path} Played
    %ul
      - @courses.each do |c|
        %li= render c
