.mod.tabs
  .hd.topper
    %ul.tabControl
      %li{class: (current_user.rounds.any? ? 'current' : '')}= link_to_function content_tag(:span, 'Activity'), '', id: 'activity_tab'
      %li{class: (current_user.rounds.empty? ? 'current' : '')}= link_to_function content_tag(:span, 'Add round'), '', id: 'add_round_tab'

  .bd
    #activity_tab_content.tabContent{class: (current_user.rounds.any? ? 'current' : '')}
      .unit.size1of2
        - unless current_user[:handicap].nil?
          .mod
            .inner
              .hd
                %h2 Handicap Index: #{current_user.handicap}
        .mod
          .inner
            .hd
              %h2 My Rounds
            .bd
              %ul
                - current_user.rounds.each do |r|
                  %li= render r
      .unit.size1of2.lastUnit
        .mod
          .inner
            .hd
              %h2 Courses Played
            .bd
              %ul
                - current_user.courses.each do |c|
                  %li= render c

    #add_round_tab_content.tabContent{class: (current_user.rounds.empty? ? 'current' : '')}
      .mod
        .inner
          .hd
            %h2 Where did you play?
          .bd
            = form_tag courses_path, method: :get do
              .container
                .form_row
                  .prompt.required.small= label_tag :q, 'Course name'
                  .element.txt= text_field_tag :q
                .form_row.actions= submit_tag 'Find'
