= form_for @course do |f|
  .mod.simple
    .inner
      .hd
        %h2 New Course
      .bd
        .container
          .form_row
            .threequarters
              .prompt.required.little= f.label :name
              .element.txt= f.text_field :name
          .form_row
            .threequarters
              .prompt.required.little= f.label :location
              .element.txt= f.text_field :location

          .form_row.actions= f.submit
