- error_messages_for @course

.full.wrapper
  %h1 New Course
  = form_for @course do |f|
    .form_row.txt
      .prompt.required= f.label :name
      .element= f.text_field :name
    .form_row.txt
      .prompt.required= f.label :location
      .element= f.text_field :location

    .form_row.actions= f.submit
