.mod
  .inner
    .hd.split
      %h2.left= @course.name
      .right.bottom.mam= link_to 'New round', new_course_round_path(@course) if can?(:create, Round)
    .bd
      .container
        %p
          %em Location:
          = @course.location

        - unless @course.teeboxes.empty?
          .mod.teeboxes
            .inner
              .hd
                %h3 Tees
              .bd
                .container
                  - @course.teeboxes.each do |t|
                    .line
                      .unit.size1of7= t.tees
                      - if can? :create, Round
                        .unit.size6of7.lastUnit
                          = link_to 'Add round played from these tees', new_course_round_path(@course, :tees => t.tees)
                  - if can? :create, Round
                    .line
                      .unit.size1of7 &nbsp;
                      .unit.size6of7.lastUnit
                        = link_to 'Add round played from other tees', new_course_round_path(@course)
