.content.wrapper
  %h1= @course.name
  %p
    %em Location:
    = @course.location
  - if user_signed_in?
    - unless @course.teeboxes.empty?
      %table#tees
        %thead
          %tr
            %th Tees
            %th Course Handicap
        %tbody
          - @course.teeboxes.each do |t|
            %tr
              %td= t.tees.titleize
              - t.extend CourseHandicap
              %td= t.handicap current_user
    #notes
      .header
        %h2 Notes
        = course_note_link
      #course_note
        %p= @course_note.try :note

.sidebar.wrapper
  .actions
    %ul
      %li= link_to 'Add a round', new_course_round_path(@course) if can?(:create, Round)
      - unless @course.teeboxes.empty?
        - @course.teeboxes.each do |t|
          %li= link_to "Add a round played from the #{t.tees.downcase} tees", new_course_round_path(@course, tees: t.tees)
