.mod
  .inner
    .hd.split
      %h2.left= @course.name
      .right.bottom.mam= link_to 'New round', new_course_round_path(@course)
    .bd
      .container
        %p
          %em Location:
          = @course.location

        - if user_signed_in?
          .mod.notes
            .inner
              .hd.split
                %h3.left Notes
                .right.bottom
                  %h3
                    = course_note_link
              .bd
                #course_note.container
                  %p= @course_note.try :note

        - unless @course.teeboxes.empty?
          .mod.teeboxes
            .inner
              .hd
                %h3.unit.size1of7 Tees
                %h3.unit.size2of7.lastUnit Course Handicap
              .bd
                .container
                  - @course.teeboxes.each do |t|
                    .line
                      .unit.size1of7= t.tees.titleize
                      - if user_signed_in?
                        - t.extend CourseHandicap
                        .unit.size1of7= t.handicap current_user
                      - if can? :create, Round
                        .unit.size5of7.lastUnit
                          = link_to 'Add round played from these tees', new_course_round_path(@course, :tees => t.tees)
                  - if can? :create, Round
                    .line
                      .unit.size2of7 &nbsp;
                      .unit.size5of7.lastUnit
                        = link_to 'Add round played from other tees', new_course_round_path(@course)
