.mod
  .inner
    .hd.split
      %h2.left= @course.name
      .right.bottom.mam= link_to 'New round', new_course_round_path(@course)
    .bd
      .container
        %p
          %em Location:
          = @course.location

        - if user_signed_in?
          .mod.notes
            .inner
              .hd.split
                %h3.left Notes
                .right.bottom
                  %h3
                    - if @course_note.present?
                      = link_to 'Edit note', edit_course_course_note_path(@course)
                    - else
                      = link_to 'New note', new_course_course_note_path(@course)
              .bd
                .container
                  %p= @course_note.try :note

        - unless @course.teeboxes.empty?
          .mod.teeboxes
            .inner
              .hd
                %h3 Tees
              .bd
                .container
                  - @course.teeboxes.each do |t|
                    .line
                      .unit.size1of7= t.tees.titleize
                      - if can? :create, Round
                        .unit.size6of7.lastUnit
                          = link_to 'Add round played from these tees', new_course_round_path(@course, :tees => t.tees)
                  - if can? :create, Round
                    .line
                      .unit.size1of7 &nbsp;
                      .unit.size6of7.lastUnit
                        = link_to 'Add round played from other tees', new_course_round_path(@course)
