!!!
%html
  %head
    %title Golfstats
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %nav
        %ul
          %li= link_to 'Home', root_path
          - if user_signed_in?
            %li= link_to 'Profile', user_path
            %li= link_to 'Sign out', destroy_user_session_path
          - else
            %li= link_to 'Sign in', new_user_session_path

    %div
      %p.notice= notice
      %p.alert= alert

    = yield
