!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title GolfStats

    %meta{:name => "description", :content => ""}/
    %meta{:name => "author", :content => ""}/
    %meta{:name => "viewport", :content => "width=device-width; maximum-scale=1.0;"}/

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag 'GGS' if Rails.env.development?
    = csrf_meta_tags

    - if ENV['GOOGLE_ANALYTICS'].present?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{ENV['GOOGLE_ANALYTICS']}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    %header
      .header
        .mod.simple
          .inner
            .bd
              .container
                .media
                  %h1.img.logo= link_to 'GolfStats', root_path
                  %nav
                    %ul
                      - if user_signed_in?
                        %li= link_to profile_link_text, user_path(current_user), :title => 'Profile'
                        %li= link_to 'Sign out', destroy_user_session_path
                      - else
                        %li= link_to 'Sign in', new_user_session_path

    .body
      - if notice.present? || alert.present?
        .mod.notices
          .inner.bd.container
            %p.error= alert
            %p.notice= notice

      .main
        = yield
